<div class="head_blue" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="icon_menu" fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
      <button>
        <i class="material-icons">
          menu
          </i>
      </button>
    </div>
    <div class="perfil_notification" fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
      <div class="photo_perfil" fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/img/perfil.jpg" alt="" />
      </div>
      <div class="icon_notification" fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
        <i class="material-icons">
          notification_important
          </i>
      </div>
    </div>
  </div>
</div>

