<div class="contenedor_mail" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
<div class="text_mail">
  <p>
    Estimado cliente. <br>
    Gracias por tu interez en formar parte de nuestra institución, hemos creado tu usuario y password para que puedas iniciar tu afiliciación como uno de nuestros agentes. <br>
    Ingresa al siguiente link que te enviamos usando las siguientes credenciales: 
  </p>
  <a [routerLink]="[ '/login' ]"><span>http//:www.unapagina.com/serAgente</span></a>
  <p>Usuario: <span>Catline</span> </p>
  <p>Password: <span>cN23@</span> </p>
  <p>Asi mismo te estaremos enviando una serie de requisitos, los cuales te solicitaremos en los siguientes pasos del proceso de afiliación <br><br>
  <span>1. Copia del DNI</span> <br>
  Copia simple del DNI del titular del comercio <br>
  <span>2. Licencia de funcionamiento</span> <br>
    Copia legible de la licencia/resolución municipal de funcionamiento definitiva o apertura del local comercial. <br>
    Para módulos/stand/puestos con galerias comerciales y/o mercados deben adjuntar una nota detallando que la licencia/resolución pertenece a una Galéria/Mercado. <br>
    <span>3. Ficha RUC</span>
    Copia simple debiendo cumplir el Estado del contribuyente debe ser ACTIVO, Condición del contribuyente de ser HABIDO. <br>
    El tipo de contribuyente debe ser Persona Natural con negocio o cualquier tipo de Persona Juridica, No mayor a 3 meses. <br>
    <span>4. Vigencia de poder(Persona Juridica</span> <br>
    Sólo para persona juridica no mayor a 6 meses de antiguedad. <br>
    <span>5. Voucher de depósito</span> <br>
    Copia simple. Se requiere un saldo minimo de s/ 2500 (en una sola operación). La constacia de abono de debe ser mayor a 3 meses.

  </p>
</div>
</div>